.dekor {
  margin-bottom: 100px;
  &__style {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    &__content {
      &:first-child {
        flex: 1.4;
        .dekor__title {
          color: #1d1d1d;
          font-size: 40px;
          font-weight: 400;
          line-height: 58px;
          margin-bottom: 15px;
        }
        .dekor__box {
          max-width: 770px;
          padding: 30px;
          box-shadow: 0px 0px 10px 0px #0000001a;
          border-radius: 10px;
          &__form {
            display: grid;
            grid-template-columns: auto;
            flex-wrap: wrap;
            gap: 15px;
            input {
              width: 100%;
              height: 49px;
              text-indent: 15px;
              border: 1px solid #1d1d1d;
              font-size: 18px;
              font-weight: 400;
              line-height: 26.1px;
              border-radius: 5px;
              opacity: 50%;
            }
            textarea {
              width: 100%;
              height: 133px;
              resize: none;
              padding: 12px;
              font-size: 18px;
              font-weight: 400;
              line-height: 26.1px;
              border-radius: 5px;
              opacity: 50%;
              border: 1px solid #1d1d1d;
            }
            .dekor__btn {
              width: 100%;
              height: 51px;
              border: none;
              cursor: pointer;
              color: #ffffff;
              font-size: 18px;
              font-weight: 700;
              line-height: 25.2px;
              background: #cb4a4a;
              border-radius: 10px;
            }
          }
        }
      }
      &:last-child {
        flex: 1.1;
        .dekor__style__wrapper {
          padding: 20px;
          box-shadow: 0px 0px 10px 0px #0000001a;
          border-radius: 10px;
          table {
            width: 100%;
            border-collapse: collapse;
            thead {
              border-bottom: 1px solid #1d1d1d;
              tr {
                th {
                  color: #1d1d1d;
                  text-align: center;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 26.1px;
                }
              }
            }
            tbody {
              tr {
                td {
                  color: #1d1d1d;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 26.1px;
                  text-align: center;
                  padding: 20px;
                }
              }
            }
          }
          .dekor__style__content__box {
            display: grid;
            grid-template-columns: auto;
            gap: 8px;
            span {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              p {
                color: #1d1d1d;
                font-size: 18px;
                font-weight: 400;
                line-height: 26.1px;
              }
            }
          }
        }
        .promokod {
          width: 100%;
          padding: 30px;
          border-radius: 10px;
          margin-top: 30px;
          box-shadow: 0px 0px 10px 0px #0000001a;
          .dekor__promokod {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 18px;
              font-weight: 400;
              line-height: 26.1px;
            }
            button {
              width: 20px;
              height: 20px;
              border: none;
              cursor: pointer;
              font-size: 20px;
              color: #ffffff;
              border-radius: 50%;
              background: #618c78;
            }
          }
          .dekor__promokod__content {
            display: grid;
            grid-template-columns: auto;
            margin-top: 16px;
            gap: 24px;
            animation: promokod forwards 0.4s;
            @keyframes promokod {
              to {
                transform: translateY(0);
                opacity: 1;
              }
              from {
                transform: translateY(-10px);
                opacity: 0;
              }
            }
            input {
              width: 100%;
              height: 40px;
              opacity: 50%;
              border-radius: 5px;
              font-size: 18px;
              font-weight: 400;
              line-height: 26.1px;
              text-indent: 10px;
              border: 1px solid #1d1d1d;
            }
            button {
              width: 100%;
              height: 40px;
              color: #ffffff;
              border-radius: 10px;
              cursor: pointer;
              border: none;
              background: #618c78;
              font-size: 18px;
              font-weight: 700;
              line-height: 25.2px;
            }
          }
        }
      }
    }
  }
}
