.feature {
	margin-bottom: 100px;
	&-title {
		color: #22262a;
		font-size: 35px;
		font-weight: 600;
		line-height: 52.5px;
		margin-bottom: 55px;
		text-align: center;
	}
	&-cards {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 60px;
		margin-bottom: 110px;
		.feature-card {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 27px;
			.feature-content {
				max-width: 200px;
				.feature-text {
					color: #262626;
					font-size: 22px;
					font-weight: 400;
					line-height: 26.8px;
					margin-bottom: 16px;
				}
				& img {
					margin-bottom: 17px;
				}
				.feature-prices {
					display: flex;
					align-items: center;
					justify-content: start;
					gap: 5px;
					.feature-price {
						color: #ff4858;
						font-size: 20px;
						font-weight: 500;
						line-height: 30px;
					}
					& s {
						color: #c1c8ce;
						font-size: 20px;
						font-weight: 400;
						line-height: 24.36px;
					}
				}
			}
		}
	}
}
